{:paths ["src"]
 :deps {org.clojars.oakes/alda-core {:mvn/version "0.3.10-1"}
        org.clojars.oakes/sound-engine-clj {:mvn/version "0.4.0-1"}
        org.clojars.oakes/meico {:mvn/version "0.3.5-1"
                                 :exclusions [info.debatty/java-string-similarity
                                              com.thaiopensource/jing
                                              com.miglayout/miglayout
                                              com.io7m.xom/xom]}
        org.clojure/data.codec {:mvn/version "0.1.1"}
        defexample {:mvn/version "1.7.0"}
        expound {:mvn/version "0.7.0"}
        org.bitbucket.daveyarwood/fluid-r3 {:mvn/version "0.1.1"}}
 :aliases {:dev {:extra-deps {org.clojure/clojurescript {:mvn/version "1.10.520"}
                              dynadoc {:mvn/version "RELEASE"}
                              com.bhauman/figwheel-main {:mvn/version "0.2.0"}}
                 :extra-paths ["target"]}
           :prod {:extra-deps {leiningen {:mvn/version "2.9.0"}}}}}
