; based on https://www.songsterr.com/a/wsa/charlie-daniels-band-dueling-banjos-tab-s28099t0
[[:guitar {:octave 3} 1/8 :b :+c 1/4 :+d :b :+c :a :b :g :a]
 [:banjo {:octave 3} 1/8 :b :+c 1/4 :+d :b :+c :a :b :g :a]
 [:guitar {:octave 3} 1/8 :b :+c 1/4 :+d :b :+c :a :b :g :a]
 [:guitar {:octave 3} 1 :d 1/4 :g :g :a :b :g :b 1 :a]
 
 [:banjo {:octave 3} 1/4 :g :g :a :b 1 :g]
 
 [:guitar {:octave 2} 1/8 :g :g 1/4 :g :a :b :+c :+d :+c 1 :b]
 [:banjo {:octave 3} 1/8 :g :g 1/4 :g :a :b :+c :+d :+c 1 :b]
 [:guitar {:octave 2} 1/8 :g :g 1/4 :g :a :b :+c :+d :+c 1 :b]
 [:banjo {:octave 3} 1/8 :g :g 1/4 :g :a :b :+c :+d :+c 1 :b]
 [:guitar {:octave 3} 1/8 :g :g 1/4 :g :a :b :+c :+d :+c 1 :b]
 [:banjo {:octave 3} 1/8 :g :g 1/4 :g :a :b :+c :+d :+c 1 :b]
 
 [:guitar {:octave 4}
  1/8 #{:d :-b :-g} #{:d :-b :-g}
  1/4 #{:d :-b :-g} #{:e :c :-g} #{:d :-b :-g}]
 [:banjo {:octave 4}
  1/8 #{:d :-b :-g} #{:d :-b :-g}
  1/4 #{:d :-b :-g} #{:e :c :-g} #{:d :-b :-g}]
 [:guitar {:octave 4}
  1/8 #{:d :-b :-g} #{:d :-b :-g}
  1/4 #{:d :-b :-g} #{:e :c :-g} #{:d :-b :-g}]
 [:banjo {:octave 4}
  1/8 #{:d :-b :-g} #{:d :-b :-g}
  1/4 #{:d :-b :-g} #{:e :c :-g} #{:d :-b :-g}]
 
 [:guitar {:octave 2} 1/8 :b :+c 1/4 :+d :b :+c :a :b :g :a]
 [:banjo {:octave 3} 1/8 :b :+c 1/4 :+d :b :+c :a :b :g :a]
 
 #{[:banjo {:octave 3} 1/16 :b :+c 1/8 :+d :b :+c :a :b :g :a]
   [:guitar {:octave 3} 1/16 :r :r 1/8 :g :r :d :r :g :g :d]}
 #{[:banjo {:octave 3} 1/16 :b :+c 1/8 :+d :b :+c :a :b :g :a]
   [:guitar {:octave 3} 1/16 :r :r 1/8 :g :r :d :r :g :g :d]}
 #{[:banjo {:octave 3} 1/16 :b :+c  1/8 :+d :b :+c :a :b :g :a]
   [:guitar {:octave 3} 1/4 :g  1/8 :a :b  1/4 :g 1/8 :a :d]}
 #{[:banjo {:octave 3} 1/16 :b :+c 1/8 :+d :b :+c :a :b :g :a]
   [:guitar {:octave 3} 1/4 :g 1/8 :a :b 1/4 :g 1/8 #{:f :-a} :b 1/4 :c]}]
