[[:guitar
  {:octave 3 :length 1/8} :b +1 :c
  {:length 1/4} :d -1 :b +1 :c -1 :a :b :g :a]
 [:banjo
  {:octave 3 :length 1/8} :b +1 :c
  {:length 1/4} :d -1 :b +1 :c -1 :a :b :g :a]
 [:guitar
  {:octave 3 :length 1/8} :b +1 :c
  {:length 1/4} :d -1 :b +1 :c -1 :a :b :g :a]
 [:guitar
  {:octave 3 :length 1} :d
  {:length 1/4} :g :g :a :b :g :b
  {:length 1} :a]
 
 [:banjo
  {:octave 3 :length 1/4} :g :g :a :b
  {:length 1} :g]
 
 [:guitar
  {:octave 2 :length 1/8} :g :g
  {:length 1/4} :g :a :b +1 :c :d :c -1
  {:length 1} :b]
 [:banjo
  {:octave 3 :length 1/8} :g :g
  {:length 1/4} :g :a :b +1 :c :d :c -1
  {:length 1} :b]
 [:guitar
  {:octave 2 :length 1/8} :g :g
  {:length 1/4} :g :a :b +1 :c :d :c -1
  {:length 1} :b]
 [:banjo
  {:octave 3 :length 1/8} :g :g
  {:length 1/4} :g :a :b +1 :c :d :c -1
  {:length 1} :b]
 [:guitar
  {:octave 3 :length 1/8} :g :g
  {:length 1/4} :g :a :b +1 :c :d :c -1
  {:length 1} :b]
 [:banjo
  {:octave 3 :length 1/8} :g :g
  {:length 1/4} :g :a :b +1 :c :d :c -1
  {:length 1} :b]
 
 [:guitar
  {:octave 4 :length 1/8} #{:d :-b :-g} #{:d :-b :-g}
  {:length 1/4} #{:d :-b :-g} #{:e :c :-g} #{:d :-b :-g}]
 [:banjo
  {:octave 4 :length 1/8} #{:d :-b :-g} #{:d :-b :-g}
  {:length 1/4} #{:d :-b :-g} #{:e :c :-g} #{:d :-b :-g}]
 [:guitar
  {:octave 4 :length 1/8} #{:d :-b :-g} #{:d :-b :-g}
  {:length 1/4} #{:d :-b :-g} #{:e :c :-g} #{:d :-b :-g}]
 [:banjo
  {:octave 4 :length 1/8} #{:d :-b :-g} #{:d :-b :-g}
  {:length 1/4} #{:d :-b :-g} #{:e :c :-g} #{:d :-b :-g}]
 
 [:guitar
  {:octave 2 :length 1/8} :b +1 :c
  {:length 1/4} :d -1 :b +1 :c -1 :a :b :g :a]
 [:banjo
  {:octave 3 :length 1/8} :b +1 :c
  {:length 1/4} :d -1 :b +1 :c -1 :a :b :g :a]
 
 #{[:banjo
    {:octave 3 :length 1/16} :b +1 :c
    {:length 1/8} :d -1 :b +1 :c -1 :a :b :g :a]
   [:guitar
    {:octave 3 :length 1/16} :r :r
    {:length 1/8} :g :r :d :r :g :g :d]}
 #{[:banjo
    {:octave 3 :length 1/16} :b +1 :c
    {:length 1/8} :d -1 :b +1 :c -1 :a :b :g :a]
   [:guitar
    {:octave 3 :length 1/16} :r :r
    {:length 1/8} :g :r :d :r :g :g :d]}
 #{[:banjo
    {:octave 3 :length 1/16} :b +1 :c
    {:length 1/8} :d -1 :b +1 :c -1 :a :b :g :a]
   [:guitar
    {:octave 3 :length 1/4} :g
    {:length 1/8} :a :b
    {:length 1/4} :g
    {:length 1/8} :a :d]}
 #{[:banjo
    {:octave 3 :length 1/16} :b +1 :c
    {:length 1/8} :d -1 :b +1 :c -1 :a :b :g :a]
   [:guitar
    {:octave 3 :length 1/4} :g
    {:length 1/8} :a :b
    {:length 1/4} :g
    {:length 1/8} #{:f :-a} :b
    {:length 1/4} :c]}]
